.headers {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 2px #334488 solid;
  width: 250px;
}

.sort {
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.header-text {
  margin: auto 0;
  font-weight: 400;
  font-size: 20px;
}

.day {
  display: flex;
  min-width: 120px;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.temp {
  display: flex;
  width: 130px;
}
